.btn{
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(108, 0, 151);
    color: white;
    padding: 5px;
    cursor: pointer;
    border: none;
}

.form-btn{
    @extend .btn;
    margin-top: 5px;
    width: 20%;
    float: left;
}

.btn-edit{
    @extend .btn;
    margin: 5px;
    float: left;
}

.btn-del{
    @extend .btn;
    background-color: red;
    margin: 5px;
    width: 15%;
    float: left;
}

@media screen and(max-width: 768px){
    .btn{
        margin:10px;
    }
    .form-btn{
        float: left;
        width: auto;
    }
}