.login{
    width: 80%;
    position: absolute;
    overflow: hidden;
    margin-left: 10%;
    .login-header{
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
}
.login-body{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 15px;
    input{
        background-color: transparent;
        border: none;
        border-bottom: solid 1px white;
        width: 100%;
        height: 30px;
        color: white;
        font-size: medium;
    }
    h5{
        color: white;
        text-decoration: underline;
        cursor: pointer;
    }
    
}
