.sidebar{
    overflow: hidden;
    width: 100%;
    position: relative;
    top: 0%;
    left: 0%;
}

.sidebar-horizontal{
    background-color: rgb(108, 0, 151);
    width: 100%;
    height: 50px;
    position: relative;
    img {
        margin: 5px;
        float: right;
        cursor: pointer;
    }
}

.sidebar-content{
    overflow: hidden;
    width: 30%;
    background-color: rgb(165, 3, 230);
    float: right;
    position: relative;
    transition: 1s;
    
    .btn{
        width: 70%;
        margin-left: 15%;
    }
    .btn-del{
        width: 70%;
        margin-left: 15%;
    }
}

.logout{
    bottom: 0px;
    color: white;
}

.profile-username{
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    color: white;
    background-color: rgb(108, 0, 151);
    font-size: x-large;
}

@media screen and(max-width: 768px){
    .sidebar{
        position: fixed;
    }
    .sidebar-content{
        float: left;
        width: 100%;
    }
}